
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    
}
html{
  scroll-behavior: smooth;
}
body{

  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  
    @apply bg-neutral-900 text-neutral-300 p-0 m-0 ;
    scroll-behavior: smooth;

    
}


/*! Loader! */

.load{
    display: grid;
    place-items: center;
    
    height: 100vh;
  }
  .loader {
    color: #f8380d;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
   
  
  .scrollbar-none::-webkit-scrollbar{
    display: none;
  }


  /*! Card hover css */

  
.navLink-animation{
  animation: hover 0.35s linear forwards;
  
  -webkit-animation: hover 0.7s ease-in-out forwards;
  animation-play-state: paused;
}

@keyframes hover {
  0%{
    border-bottom: 5px solid #fff;
  }
  50%{
    border-bottom: 3px solid  #f8380d;
  }
  100%{
    border-bottom: 1px solid  #f8380d;
  }

}
.navLink-animation:hover{
  
  animation-play-state: running;
}
.navLink-animation:not(:hover) {
  animation-delay: 0.5s; /* Short delay before resetting */
  animation-name: none; 
}

/* .cardHover{
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.cardHover:hover{
  box-shadow: #ed8312 0px 0px 0px 3px;
  scale: 1.05;
  

} */



/* !scroll bar */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  display: none;
}

::-webkit-scrollbar-track { 
  background: #ef1111; 
}
/* ::-webkit-scrollbar-thumb {
  background: #0c0c0c; color of the handle */
/* }  */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; color of the handle when hovering
} */